*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
img{
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.nav-middle li{
    display: inline-block;   
}

.nav-middle a{
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    cursor: pointer;
}
.nav-middle ul li:hover{
    font-weight: 700;
    
}
.flex-div{
    display: flex;
    align-items: center;
}

.nav-right img{
    max-width: 100px;
    margin: 10 px auto;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}
.nav-right .logo{
    width: 70px;
    height: 70px;
}
.sarch-box {
    position: relative;
}
.sarch-box .input-box{
    direction: rtl;
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.nav-left .sarch-box img{
    width: 40px;
    height: 40px;
    border: 0;
    direction: rtl;
    cursor: pointer;
    flex: 1;
}
.resultbox{
    position: absolute;
    width: 277px;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    direction: rtl;
    z-index: 9999;
    background-color:transparent;
    border: 2px solid transparent;
}
.resultbox ul{

    padding: 0;
    margin: 0;
    direction: rtl;
}
.resultbox ul li{
    padding: 5px 10px;
    cursor: pointer;
}
.resultbox ul li:hover{
    font-weight: 600;
}
.nav-left .sarch-box{
    border: 2px solid transparent;
    margin-right: 15px;
    padding: 10px 12px;
    border-radius: 30%;
    border-image: linear-gradient(45deg, #ff0,#0ff, #f0f);
    border-image-slice: 1;
}
.nav-left .sarch-box input{
    width: 200px;
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
    
}
::placeholder{
    color: #555;
}
.main{
    padding-top: 20PX;
    padding-bottom: 20px;
    direction: rtl;
    margin: auto;
    width: max-content;
    height: max-content;
}
.defsite{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.defsite img{
    width: 35cm;
    height: 12cm;
    border-radius: 8px;
}
.main .defsite p{
    position: absolute;
    top:30% ;
    right: 32px;
    font-size: large;
}
.content{
    padding-right: 25%;
}
.cartoon{
    width: 210px;
    height: 300px;
    display: inline-block;
    background-color: rgb(90, 195, 243);
    border-radius: 50px;
    text-align: center;
}
.main .content img {
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 40px;
    width: 150px;
    height: 145px;
}
.main .content  button{
    width: 100px;
    border: 2px dashed #050505;
    outline: 0;
    background:transparent;
    border-radius: 25px;
}
.songs{
    width: 210px;
    height: 300px;
    display: inline-block;
    background-color: rgb(107, 241, 198);
    border-radius: 50px;
    text-align: center;
}
.film{
    width: 210px;
    height: 300px;
    display: inline-block;
    background-color: rgb(252, 209, 144);
    border-radius: 50px;
    text-align: center;
}
.podcast{
    width: 210px;
    height: 300px;
    display: inline-block;
    background-color: rgb(209, 115, 193);
    border-radius: 50px;
    text-align: center;
}
